{{ partial "header.html" . }}

  <div class="page-content list post-list">
    <header>
      <h1 class="page-title">{{ .Title }}</h1>
      {{ if .Description }}<div class="description">{{ .Description }}</div>{{ end }}
    </header>

  {{ range .Data.Pages }}
    <article>
      {{ partial "post-header.html" . }}

      <div class="content summary">
        <div class="content-wrapper">{{ .Summary }}</div>
      </div>

      <footer>
        {{ partial "readmore.html" . }}
      </footer>
    </article>
  {{ end }}

  {{ partial "pagination.html" . }}
  </div>

{{ partial "footer.html" . }}
