$font-prefix: '..' !default;
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'),
    local('IBMPlexSans'),
    url('#{$font-prefix}/static/fonts/IBMPlexSans-Bold.eot') format('eot'),
    url('#{$font-prefix}/static/fonts/IBMPlexSans-Bold.otf') format('otf'),
    url('#{$font-prefix}/static/fonts/IBMPlexSans-Bold.ttf') format('ttf'),
    url('#{$font-prefix}/static/fonts/IBMPlexSans-Italic.eot') format('eot'),
    url('#{$font-prefix}/static/fonts/IBMPlexSans-Italic.woff') format('eot'),
    url('#{$font-prefix}/static/fonts/IBMPlexSans-Italic.ttf') format('ttf'),
    url('#{$font-prefix}/static/fonts/IBMPlexSans-Regular.woff') format('woff'),
    url('#{$font-prefix}/static/fonts/IBMPlexSans-Regular.otf') format('otf'),
    url('#{$font-prefix}/static/fonts/IBMPlexSans-Regular.eot') format('eot');
}
