.sidebar {
  position: fixed;
  z-index: 9;
  top: @header-height;
  max-height: 0;
  width: 100%;
  overflow: hidden;

  padding-bottom: 0;
  transition: max-height 0.218s ease,
              padding-bottom 0.218s ease;
}

button.sidebar-toggle {
  .hamburger-button();
}

.sidebar-content {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: @layout-width + (@grid-gutter-width * 2);
  padding: @grid-gutter-width;
  background-color: fade(@gray, 97%);
  color: @gray-lighter;
  box-shadow: 0 0 0 0 fade(@gray-dark, 80%);
  position: relative;
  bottom: 4px;

  transition: box-shadow 0.218s ease;

  a {
    color: @body-bg;
  }

  .col {
    margin-bottom: @grid-gutter-width * 0.5;
    padding-bottom: @grid-gutter-width * 0.5;
    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    h4 {
      font-weight: 700;
    }

    ul {
      display: block;
      margin: 0;
      padding: 0;
      clear: both;
    }

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      &:after {
        content: ' / ';
        color: @gray-lighter;
        display: inline-block;
        margin: 0 0.5em 0 0.7em;
      }
      &:last-of-type:after {
        display: none;
      }
    }

    &.categories,
    &.blogroll {
      float: left;
    }

    &.categories {
      margin-right: @grid-gutter-width * 0.5;
    }
    &.blogroll {
      margin-left: @grid-gutter-width * 0.5;
    }
    &.camunda {
      clear: both;
    }
  }
}


body {
  &.sidebar-open {
    .sidebar {
      padding-bottom: 4px;
      max-height: ~"calc(100vh - @{header-height})";
    }

    .sidebar-content {
      overflow: auto;
      box-shadow: 0 0 4px 0 fade(@gray-dark, 80%);
    }

    button.sidebar-toggle {
      .hamburger-button-open();
    }
  }
  &.sidebar-open.search-open {
    .sidebar {
      max-height: 0;
      padding-bottom: 0;
    }
  }
}
