@import "_variables";
@import "_bootstrap";
@import "@{commons-ui-path}resources/less/_fonts";

html,
body {
  min-height: 100%;
  position: relative;
}


/* links */
a,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}



/*
a {
  position: relative;
  display: inline-block;
  &:after {
    position: absolute;
    display: block;
    content: '';
    background-color: @link-color;
    bottom: -1px;
    height: 0;
    border-bottom: 1px solid;
    margin-right: auto;

    transition: opacity 0.218s ease,
                transform 0.218s ease,
                width 0.218s ease,
                margin-left 0.218s ease;
    opacity: 0;
    transform: translateY(1em);
    width: 0;
    margin-left: 50%;
  }

  &:hover,
  &:focus {
    &:after {
      margin-left: 0;
      width: 100%;
      opacity: 1;
      transform: translateY(0);
    }
  }
}
*/




.centered-content() {
  max-width: @layout-width;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}


body {
  > header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    padding-left: @grid-gutter-width;
    padding-right: @grid-gutter-width;
    background-color: fade(@body-bg, 95);
    border-bottom: 1px solid @gray-lighter;
    box-shadow: 0 0 0 0 fade(@gray, 50%);
    transition: box-shadow 0.218s ease;

    > div {
      .centered-content();
      min-height: @header-height;

    }

    h1,
    .grill,
    .categories {
      margin-top: 10px;
    }

    h1 {
      float: left;
      padding-right: @grid-gutter-width * 0.5;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 0;
    }

    .grill,
    .categories {
      float: right;
      padding-left: @grid-gutter-width * 0.5;
    }


    .bpmn-icon-bpmn-io:before {
      margin-left: -2px;
    }

    @media (max-width: 600px) {
      h1 {
        padding-right: 0;
      }
      .site-title {
        display: none;
      }
    }

    .categories {
      text-align: right;
      ul,
      li {
        margin: 0;
        padding: 0;
        display: inline-block;
      }
      ul {
        list-style: none;
      }
      li {
        &:after {
          display: inline-block;
          content: '/';
        }
        &:last-of-type:after {
          display: none;
        }
      }
    }
  }
  &.scrolled > header {
    box-shadow: 0 2px 2px 0 fade(@gray, 50%);
  }
}










.page-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1;
  top: @header-height;
  margin-bottom: @footer-height + @grid-gutter-width;
  width: 100%;
}


.page-content {
  overflow: hidden;
  padding-left: @grid-gutter-width;
  padding-right: @grid-gutter-width;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: @line-height-computed * 2;
    font-family: @font-family-sans-serif;
  }

  h1,
  h2 {
    font-family: 'open_sanslight', Helvetica, Arial, Verdana, sans-serif;
  }

  > header {
    .centered-content();
  }

  figcaption h4 {
    margin-top: 12px;
  }

  > article,
  > section {
    margin: @grid-gutter-width 0;
    &:last-of-type {
      margin-bottom: 0;
    }

    > header,
    > .content,
    > footer {
      > * {
        .centered-content();
      }

      > figure {
        padding: 2px;
        max-width: 1280px;
      }

      > pre,
      > blockquote {
        padding: (@line-height-computed / 2) @grid-gutter-width;
        width: auto;
        max-width: @layout-width + (@grid-gutter-width * 2);

        @media (max-width: 768px) {
          padding: (@line-height-computed / 2) @line-height-computed;
        }
      }
    }
  }
}


body > footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  padding-left: @grid-gutter-width;
  padding-right: @grid-gutter-width;
  background-color: fade(@body-bg, 95);
  border-top: 1px solid @gray-lighter;

  @media (max-width: 1024px) {
    position: relative;
  }

  > div {
    height: @footer-height;

    > div,
    > nav {
      float: left;
    }
    > div {
      width: 30%;
    }
    > nav {
      width: 40%;
    }
  }

  .boring-stuff,
  .back-to-top,
  .networks {
    padding: (@line-height-computed * 0.5) 0;
    line-height: @line-height-computed;
  }

  .boring-stuff,
  .back-to-top {
    font-size: 14px;
  }

  .networks {
    font-size: 20px;
  }

  .back-to-top {
    text-align: right;
  }

  ul {
    margin-bottom: 0;
  }
}


figure {
  width: auto;
  padding: 2px;
  border: 1px solid @gray-light;
  background-color: @gray-lighter;
  overflow: hidden;

  > img {
    max-width: 100%;
    min-width: @grid-gutter-width;
    min-height: @grid-gutter-width;
    position: relative;
    margin: auto;
    display: block;

    &[data-src]:after {
      position: absolute;
      display: block;
      content: '';
      background-color: @gray;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  > figcaption {
    margin-top: 2px;
    border-top: 1px solid @gray-light;
    font-style: italic;

    h4,
    p {
      margin: 12px 12px 10px 12px;
      line-height: 18px;
    }

    h4 {
      float: left;
      font-size: 16px;
    }
    p {
      float: right;
      font-size: 14px;
    }
  }
}


article,
section {
  .meta {
    font-size: small;
  }

  > .content {
    margin-top: @line-height-computed;// * 2;
    font-family: @font-family-serif;
    font-size: 18px;
    line-height: 1.6;
    h1,
    h2,
    h3,
    h4,
    h5 {
      .font-regular;
    }

    h1 { font-size: @font-size-h1 * 0.85; }
    h2 { font-size: @font-size-h2 * 0.85; }
    h3 { font-size: @font-size-h3 * 0.85; }
    h4 { font-size: @font-size-h4 * 0.85; }
    h5 { font-size: @font-size-h5 * 0.85; }
    h6 { font-size: @font-size-h6 * 0.85; }
  }

  > .comments {
    max-width: @layout-width + (@grid-gutter-width * 2);
    margin: @grid-gutter-width auto;
  }

  > footer {
    font-size: 14px;
    margin-top: @grid-gutter-width;
    border-bottom: 1px dashed @gray-lighter;
    margin-bottom: @grid-gutter-width;
    padding-bottom: @grid-gutter-width;

    > div {
      overflow: hidden;
      &:first-of-type {
        margin: (@grid-gutter-width * 0.5) auto;
        padding: (@grid-gutter-width * 0.5) 0;
        border: 1px dashed @gray-light;
        border-width: 1px 0;
      }
    }

    .tags,
    .author,
    .previous-post,
    .next-post {
      // max-width: 50%;
      width: 50%;
      min-height: 1px;
      float: left;
    }

    .tags,
    .next-post {
      padding-right: @grid-gutter-width * 0.5;
    }

    .author,
    .previous-post {
      padding-left: @grid-gutter-width * 0.5;
      text-align: right;
    }

    .tags ul {
      display: inline;
    }

    .next-post,
    .previous-post {
      font-size: 16px;
    }
  }
}

.page-content.list {
  > article,
  > section {
    > footer {
      > div:first-of-type {
        border: none;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.read-more-link {
  text-align: right;
}


@import "./pager.less";
@import "./icons.less";
@import "./sidebar.less";
@import "./prism.less";
