<div class="sidebar">
  <div class="sidebar-content">
    <div class="col categories">
      <h4>Categories:</h4>
      <ul>
        <li><a href='{{ "categories/modeling" | absURL }}'>Modeling</a></li>
        <li><a href='{{ "categories/execution" | absURL }}'>Execution</a></li>
        <li><a href='{{ "categories/community" | absURL }}'>Community</a></li>
      </ul>
    </div>

    <div class="col blogroll">
      <h4>Blog:</h4>
      <ul>
        <li><a href='{{ "/" | absURL }}'>Home</a></li>
        <li><a href='{{ "tags/" | absURL }}'>Tags</a></li>
        <li><a target="_blank" href='{{  "index.xml"| absURL }}'>RSS</a></li>
        <li><a href='{{ "post/" | absURL }}'>Archives</a></li>
      </ul>
    </div>

    <div class="col camunda">
      <h4>Camunda:</h4>
      <ul>
        <li><a href="https://camunda.com/">camunda.com</a></li>
        <li><a href="http://bpmn.io">bpmn.io</a></li>
        <li><a href="https://forum.camunda.org/">Forum</a></li>
      </ul>
    </div>
  </div>
</div>
