</div><!-- / .page-wrapper -->

{{ partial "sidebar.html" . }}

<footer>
  <div>
    <div class="boring-stuff">
      <ul class="list-inline">
        <li><a href="https://camunda.com/legal/imprint/">Imprint</a></li>
        <li><a href="https://camunda.com/legal/privacy/">Privacy Policy &amp; Cookies</a></li>
      </ul>
    </div>

    <nav class="networks text-center">
      <ul class="list-inline">
        <li>
          <a href="http://github.com/camunda">
            <span class="cam-blog-github"></span>
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/tagged/camunda">
            <span class="cam-blog-stackoverflow"></span>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/camundabpm">
            <span class="cam-blog-twitter"></span>
          </a>
        </li>
        <li>
          <a href="https://vimeo.com/camunda">
            <span class="cam-blog-vimeo"></span>
          </a>
        </li>
        <li>
          <a href='{{ "index.xml" | absURL }}'>
            <span class="cam-blog-rss"></span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="back-to-top">
      <a href="#">Back to top <span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>
  </div>
</footer>

<script type="text/javascript">var _siteSetup = {
  baseUrl: '{{ "/" | absURL }}',
  gaCode: "{{ $.Site.Params.gaCode }}",
  disqusName: "{{ $.Site.Params.disqusShortname }}",
  gSearchApiKey: "{{ $.Site.Params.gSearchApiKey }}",
  gSearchCtx: "{{ $.Site.Params.gSearchCtx }}"
};</script>

<script type="text/javascript" src='{{ "js/scripts.js" | absURL }}'></script>
</body>
</html>
