
</div><!-- ./ page-wrapper -->


<footer class="container-fluid">
  <nav class="col-xs-9">
    <ul class="list-inline">
      <li><a href="http://github.com/camunda"><span class="cam-blog-github"></span></a></li>
      <li><a href="http://github.com/camunda"><span class="cam-blog-github"></span></a></li>
      {{ if .RSSlink }}<li><a href="{{ .RSSlink }}"><span class="cam-blog-rss"></span></a></li>{{ end }}
    </ul>
  </nav>
  <div class="col-xs-3 back-to-top text-right"><a href="#">Back to top</a></div>
</footer>

<script type="text/javascript" src="{{ .Site.BaseURL }}js/scripts.js"></script>
</body>
</html>
