<header class="row">
  <h1 class="col-xs-12"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>

  <div class="meta col-xs-12">
    Written by <span class="author">{{ .Params.author }}</span>
    on <time pubdate="{{ .PublishDate }}">{{ .Date.Format "2 January 2012" }}</time>,
    under {{ range .Params.categories }}<a href="/categories/{{ . | urlize }}">{{ . }}</a>{{ end }} category
    and tagged: {{ range .Params.tags }}<a href="/tags/{{ . | urlize }}">{{ . }}</a>{{ end }}
  </div>
</header>
