<div class="sidebar">
  <div class="sidebar-content">
    <div class="col categories">
      <h4>Categories:</h4>
      <ul>
        <li><a href="{{ .Site.BaseURL }}categories/modeling">Modeling</a></li>
        <li><a href="{{ .Site.BaseURL }}categories/execution">Execution</a></li>
        <li><a href="{{ .Site.BaseURL }}categories/community">Community</a></li>
      </ul>
    </div>

    <div class="col blogroll">
      <h4>Blog:</h4>
      <ul>
        <li><a href="{{ .Site.BaseURL }}">Home</a></li>
        <li><a href="{{ .Site.BaseURL }}tags/">Tags</a></li>
        <li><a target="_blank" href="{{ .Site.BaseURL }}index.xml">RSS</a></li>
        <li><a href="{{ .Site.BaseURL }}post/">Archives</a></li>
      </ul>
    </div>

    <div class="col camunda">
      <h4>Camunda:</h4>
      <ul>
        <li><a href="http://camunda.org">camunda.org</a></li>
        <li><a href="http://network.camunda.org">network.camunda.org</a></li>
        <li><a href="http://bpmn.io">bpmn.io</a></li>
        <li><a href="https://forum.camunda.org/">Forum</a></li>
      </ul>
    </div>
  </div>
</div>
