<div class="sidebar">
  <div class="sidebar-content">
    <div class="col">
      <h5>Blog</h5>
      <ul>
        <li><a href="{{ .Site.BaseURL }}">Home</a></li>
        <li><a href="{{ .Site.BaseURL }}tags/">Tags</a></li>
        <li><a href="{{ .Site.BaseURL }}index.xml">RSS</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Camunda</h5>
      <ul>
        <li><a href="http://camunda.org">camunda.org</a></li>
        <li><a href="http://github.com/camunda">Camunda on github</a></li>
        <li><a href="http://network.camunda.org">network.camunda.org</a></li>
        <li><a href="http://bpmn.io">bpmn.io</a></li>
        <li><a href="http://https://groups.google.com/forum/#!forum/camunda-bpm-users">Forum</a></li>
      </ul>
    </div>
  </div>
</div>
